<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.jk.mapper.SysResourceMapper">
    <select id="getSysRegsourceTreeVo" resultMap="TreeMap">
        SELECT sr1.id,sr1.`name`,sr1.sn,
               sr2.id AS s2id,sr2.`name` AS s2name,sr2.sn AS s2sn,
               sr3.id AS s3id,sr3.`name` AS s3name,sr3.sn AS s3sn FROM
            sys_resource AS sr1
                LEFT JOIN
            sys_resource AS sr2
            ON
                sr1.id=sr2.parent_id
                LEFT JOIN
            sys_resource AS sr3
            ON
                sr2.id=sr3.parent_id
    </select>

    <resultMap id="TreeMap" type="com.yang.jk.pojo.vo.SysResourceTreeVo">
        <id property="id" column="id"/>
        <result column="name" property="title"/>
        <result column="sn" property="spread"/>
        <collection property="children" ofType="com.yang.jk.pojo.vo.SysResourceTreeVo">
            <id property="id" column="s2id"/>
            <result column="s2name" property="title"/>
            <result column="s2sn" property="spread"/>
            <collection property="children" ofType="com.yang.jk.pojo.vo.SysResourceTreeVo">
                <id property="id" column="s3id"/>
                <result column="s3name" property="title"/>
                <result column="s3sn" property="spread"/>
            </collection>
        </collection>
    </resultMap>
</mapper>